*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#000;
    color:#fff;

    font-family:'Montserrat',sans-serif;

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}

body::before{

    content:"";

    position:absolute;

    width:600px;
    height:600px;

    background:rgba(255,255,255,.05);

    filter:blur(140px);

    border-radius:50%;

    animation:move 10s ease-in-out infinite alternate;
}

@keyframes move{

0%{
transform:translate(-200px,-150px);
}

100%{
transform:translate(220px,170px);
}

}

.container{

    position:relative;

    text-align:center;

    max-width:750px;

    padding:40px;

    z-index:10;

}

.badge{

    display:inline-block;

    border:1px solid rgba(255,255,255,.3);

    padding:10px 20px;

    border-radius:30px;

    letter-spacing:4px;

    font-size:12px;

    margin-bottom:35px;

    color:#ccc;

}

h1{

    font-size:90px;

    letter-spacing:18px;

    font-weight:700;

    margin-bottom:20px;

}

h1 span{

    color:#999;

}

.tagline{

    font-size:24px;

    font-weight:300;

    letter-spacing:2px;

    margin-bottom:25px;

}

.description{

    color:#a5a5a5;

    line-height:1.8;

    font-size:17px;

    margin-bottom:45px;

}

.button{

    display:inline-block;

    padding:16px 45px;

    border:1px solid white;

    color:white;

    text-decoration:none;

    border-radius:50px;

    transition:.35s;

    letter-spacing:2px;

}

.button:hover{

    background:white;

    color:black;

}

.container{

    animation:fade 1.8s ease;

}

@keyframes fade{

from{

opacity:0;
transform:translateY(30px);

}

to{

opacity:1;
transform:translateY(0);

}

}

@media(max-width:768px){

h1{

font-size:55px;

letter-spacing:8px;

}

.tagline{

font-size:18px;

}

.description{

font-size:15px;

}

}
